body {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;

}
.logo img{
    width: 15%;
	height: 100px;
	position: relative;
    
}
  
  .header{
      padding: 20px 50px;
      position: relative;
      z-index: 10;
     

  }

  .wrapper{
    background-image: url('/background.jpg') ;
    height: 100vh;
    background-image: cover;
    background-repeat:no-repeat;
    position: relative;
    width: 100;

  }

  .wrapper::before{
    content: '';
           width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }

  .login_body{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 55%;
margin-left:50% ;
background: rgb(27, 26, 26);
border-radius: 10px;
box-sizing: 10px;
transform: translateX(-50%);

  }

  .login_body h2{

  font-size: 32px;
  color: white;
  margin-top: 0%;
  }

  .login_body input{
    height: 50px;
    width: 500px;
    border-radius: 3px;
    color: white;
    padding-left: 15px;
    border: 1px solid #333;
    outline: none;
    box-sizing: border-box;
  }

  .input_wrap{
    margin-bottom: 25px;
 

  }

  .login_body button{
    height: 50px;
    width: 100%;
    color: white;
    background: red;
    border-radius: 3px;
    font-weight: 500  ;
    font-size: 16px;
    border: 1px solid red;
    
  }

.support{
display: flex;
  color: white;
  justify-content: space-between;
  font-size: 12px;


}

.support input{
  width: 15px;
  height: 15px;

}

.remember{
  display: flex;
  align-items: center;
}

.remember span{
  margin-right: 10px;
  height: 25px;
}

.login_facebook{
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(27, 26, 26);

}

.login_facebook img{
  width: 20px;
  height: 20px;
}

.login_facebook span a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.sign_up{
  color: rgb(0, 0, 0);
  font-size: 16px;

}

.sign_up a{
  color: wheat;
  font-size: 16px;
  text-decoration: none;

}

.terms{
  color: rgb(0, 0, 0);
  font-size: 13px;

}

.terms a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
/*  .anchor {
    text-decoration: none;
    color: #0077c5;
  }
  
  .logo-section {
    margin-top: 60px;
    text-align: center;
    clear: both;
  }
  
  .main-logo {
    width: 180px;
  }
  
  .logo {
    width: 26px;
  }
  
  .u-list {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .list-item {
    color: grey;
    display: inline-block;
    font-size: 1.2rem;
    list-style-type: none;
    vertical-align: middle;
  }
  
 
  .form-heading {
    color: darkslategray;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 auto 30px;
  }
  
  .label {
    color: #404040;
    font-size: 1.1rem;
  }
  
  .input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 45px;
    font-size: 1.2rem;
    padding: 5px 8px;
    resize: vertical;
  }
  
  .input[type="email"] {
    margin: 8px 0 40px;
  }
  
  .input[type="tel"] {
    margin: 8px 0 0;
  }
  
  .input:last-of-type {
    margin: 8px 0 30px;
  }
  
  .call-warning {
    font-size: 0.75rem;
    margin: 8px 0 40px;
  }
  
  .button {
    background-color: #0077c5;
    border: 1px solid #0077c5;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 1.2rem;
    height: 48px;
    width: 100%;
  }
  
  .footer {
    color: #404040;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 16px;
  }
  
  .form-footer {
    color: #404040;
    font-size: 0.75rem;
    font-style: italic;
    margin: 50px auto 0;
    text-align: center;
    width: 85%;
  }
  
  .a-footer {
    padding-right: 10px;
    color: #404040;
  }
  
  .gray-container {
    background-color: #eceef1;
    border: 1px solid #c7c7c7;
    border-top: none;
    color: #404040;
    font-size: 0.7rem;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: center;
    width: 360px;
  }
  
  .fixed-container {
    display: flex;
    top: 10px;
    right: 20px;
    float: right;
    font-size: 0.75rem;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
  }
  
  .fixed-container .button {
    margin-left: 10px;
    width: 90px;
    height: 30px;
    font-size: 0.75rem;
  }
  
  @media only screen and (max-width: 800px) {
    .fixed-container {
      display: none;
    }
  
  }